.section {
  max-width: 750px;
  background-color: white;
  margin: auto;
  margin-bottom: 20px;
  /* padding: 0px 20px; */
  display: grid;
}

.section__header {
  border-bottom: 2px solid #eeeeee;
  padding-left: 20px;
  margin: 0;
}

.section__header--display {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-gap: 20px;
  border-bottom: 2px solid #eeeeee;
}

@media (max-width: 767px) {
  .section__header--display {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
